In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.4'

In [3]:
import sklearn

In [4]:
sklearn.__version__

'1.2.2'

In [34]:
df_jan = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet")
df_jan.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [35]:
df_feb = pd.read_parquet("https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet")
df_feb.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,1,2023-02-01 00:32:53,2023-02-01 00:34:34,2.0,0.30,1.0,N,142,163,2,4.4,3.50,0.5,0.0,0.0,1.0,9.40,2.5,0.00
1,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,-3.0,-1.00,-0.5,0.0,0.0,-1.0,-5.50,0.0,0.00
2,2,2023-02-01 00:35:16,2023-02-01 00:35:30,1.0,0.00,1.0,N,71,71,4,3.0,1.00,0.5,0.0,0.0,1.0,5.50,0.0,0.00
3,1,2023-02-01 00:29:33,2023-02-01 01:01:38,0.0,18.80,1.0,N,132,26,1,70.9,2.25,0.5,0.0,0.0,1.0,74.65,0.0,1.25
4,2,2023-02-01 00:12:28,2023-02-01 00:25:46,1.0,3.22,1.0,N,161,145,1,17.0,1.00,0.5,3.3,0.0,1.0,25.30,2.5,0.00

In [36]:
# Save as Parquet
# !mkdir data
df_jan.to_parquet('data/df_jan.parquet')
df_feb.to_parquet('data/df_feb.parquet')

In [37]:
df_jan = pd.read_parquet('data/df_jan.parquet')
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [38]:
df_feb = pd.read_parquet('data/df_feb.parquet')
df_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 389.1+ MB

In [39]:
df_jan_columns = set(df_jan.columns)
df_jan_columns

{'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'airport_fee',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'tpep_dropoff_datetime',
 'tpep_pickup_datetime',
 'trip_distance'}

In [40]:
df_feb_columns = set(df_feb.columns)
df_feb_columns

{'Airport_fee',
 'DOLocationID',
 'PULocationID',
 'RatecodeID',
 'VendorID',
 'congestion_surcharge',
 'extra',
 'fare_amount',
 'improvement_surcharge',
 'mta_tax',
 'passenger_count',
 'payment_type',
 'store_and_fwd_flag',
 'tip_amount',
 'tolls_amount',
 'total_amount',
 'tpep_dropoff_datetime',
 'tpep_pickup_datetime',
 'trip_distance'}

In [41]:
# Find columns that are different between the two DataFrames
different_columns = df_jan_columns.symmetric_difference(df_feb_columns)
different_columns

{'Airport_fee', 'airport_fee'}

In [42]:
df_feb = df_feb.rename(columns={'Airport_fee': 'airport_fee'})
df_feb_columns = set(df_feb.columns)
different_columns = df_jan_columns.symmetric_difference(df_feb_columns)
different_columns

set()

## Q2. Computing duration
*
Now let's compute the duration variable. It should contain the duration of a ride in minutes.

What's the standard deviation of the trips duration January*ry?

In [43]:
# Compute the duration in minutes
df_jan['duration'] = (df_jan['tpep_dropoff_datetime'] - df_jan['tpep_pickup_datetime']).dt.total_seconds() / 60
df_jan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  duration               float64
dtypes: datetime64[us](2), float64(13), int64(4), object(1)
memory usage: 468.0+ MB

In [44]:
df_jan['duration'].std()

42.594351241920904

## Q3. Dropping outliers
____
Next, we need to check the distribution of the duration variable. There are some outliers. Let's remove them and keep only the records where the duration was between 1 and 60 minutes (inclusive).

What fraction of the records left after you dropped the outliers?

In [23]:
def filter_func(df, column_to_filter, lower_limit=0, upper_limit=356*24*60):
    # Specify the column to filter by
    column_to_filter = column_to_filter
    
    # Filter the DataFrame to keep only rows where the values in the specified column fall between  lower_limit and upper_limit (inclusive)
    df_filtered = df[(df[column_to_filter] >= lower_limit) & (df[column_to_filter] <= upper_limit)]

    return df_filtered

In [45]:
df_filtered = filter_func(df_jan, 'duration', 1, 60)
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3009173 entries, 0 to 3066765
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  duration               float64
dtypes: datetime64[us](2), float64(13), int64(4), object(1)
memory usage: 482.1+ MB

In [46]:
df_filtered_duration_min = df_filtered['duration'].min()
df_filtered_duration_max = df_filtered['duration'].max()
print(f"The minimum ride duration is {df_filtered_duration_min}, while the maximum ride duration is {df_filtered_duration_max}")

The minimum ride duration is 1.0, while the maximum ride duration is 60.0

In [47]:
print(f" The fraction left is: {df_filtered.shape[0]/df_jan.shape[0]}")

 The fraction left is: 0.9812202822125979

## Q4. One-hot encoding
____
Let's apply one-hot encoding to the pickup and dropoff location IDs. We'll use only these two features for our model.

Turn the dataframe into a list of dictionaries (remember to re-cast the ids to strings - otherwise it will label encode them)
Fit a dictionary vectorizer
Get a feature matrix from it
What's the dimensionality of this matrix (number of columns)?

In [48]:
from sklearn.feature_extraction import DictVectorizer

data = df_filtered[['PULocationID', 'DOLocationID']].applymap(str).to_dict('records')

# Fit a dictionary vectorizer
vectorizer = DictVectorizer()
X = vectorizer.fit_transform(data)

# Get the dimensionality of the feature matrix
n_features = X.shape[1]
print(f'The dimensionality of the feature matrix is {n_features} columns.')

/tmp/ipykernel_9460/3954492197.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data = df_filtered[['PULocationID', 'DOLocationID']].applymap(str).to_dict('records')

The dimensionality of the feature matrix is 515 columns.

## Q5. Training a model
____
Now let's use the feature matrix from the previous step to train a model.

Train a plain linear regression model with default parameters
Calculate the RMSE of the model on the training data
What's the RMSE on train?

In [49]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

# Train a plain linear regression model with default parameters
model = LinearRegression()
model.fit(X, df_filtered['fare_amount'])

# Calculate the RMSE of the model on the training data
y_pred = model.predict(X)
rmse = mean_squared_error(df_filtered['fare_amount'], y_pred, squared=False)
print(f'The RMSE on train is {rmse:.2f}')

The RMSE on train is 9.88

## Q6. Evaluating the model
____
Now let's apply this model to the validation dataset (February 2023).

What's the RMSE on validation?

In [55]:
# # Assuming X_val and y_val are your validation feature matrix and target variable
# y_pred_val = model.predict(X_val)
# rmse_val = mean_squared_error(y_val, y_pred_val, squared=False)
# print(f'The RMSE on validation is {rmse_val:.2f}')

In [56]:
df_feb['duration'] = (df_feb['tpep_dropoff_datetime'] - df_feb['tpep_pickup_datetime']).dt.total_seconds() / 60
df_feb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2913955 entries, 0 to 2913954
Data columns (total 20 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
 19  duration               float64
dtypes: datetime64[us](2), float64(13), int32(3), int64(1), object(1)
memory usage: 411.3+ MB

In [59]:
df_feb_filtered = filter_func(df_feb, 'duration', 1, 60)
data_feb = df_feb_filtered[['PULocationID', 'DOLocationID']].applymap(str).to_dict('records')

# Fit a dictionary vectorizer
vectorizer = DictVectorizer()
X_encoded = vectorizer.fit_transform(data)
X_val = vectorizer.transform(data_feb)

# Get the dimensionality of the feature matrix
n_features_val = X_val.shape[1]
print(f'The dimensionality of the feature matrix is {n_features_val} columns.')

/tmp/ipykernel_9460/2555814781.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  data_feb = df_feb_filtered[['PULocationID', 'DOLocationID']].applymap(str).to_dict('records')

The dimensionality of the feature matrix is 515 columns.

In [60]:
y_pred_val = model.predict(X_val)
rmse_val = mean_squared_error(df_feb_filtered['duration'], y_pred_val, squared=False)
print(f'The RMSE on validation is {rmse_val:.2f}')

The RMSE on validation is 10.66